/* all elements */
* {
	box-sizing: border-box;
	font-family: system-ui;
}

h1 {
	margin-bottom: 15;
	text-align: center;
	font-size: 175%;
}

/* divs inside the responsive divs */
div.row > div > div{
	background-color: lightgray;
	border: 1px solid black;
	border-radius: 6px 6px 6px 6px;
	margin: 10px;
	padding: 0px;
}

/* properties for the titles */
.tittle {
	float: right;
	position: relative;
	width: 80px;
	border: 1px solid black;
	margin-top: 0px;
	top: -1px;
	right: -1px;
	text-align: center;
	font-weight: bold;
	font-size: 125%;
	border-radius: 0px 6px 0px 8px;

}

/* specific properties for the tittles */
.chicken {
	background-color: rosybrown;
}

.beef {
	background-color: darkred;
	color: white;
}

.sushi {
	background-color: orange;
}

/* clear to the right of the tittles since they are floating  */
.content{
	margin: 10px;
	clear: right;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;	
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}